@import "tailwindcss";

/* @plugin "tailwind-scrollbar-hide"; */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
.font-playfair {
  font-family: var(--font-playfair);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-script {
  font-family: var(--font-script);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
